<div class="container">

  <div class="row">

    <div class="col">
    </div>

    <div class="col">
    
      <h2>使用者註冊</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, "請輸入電子信箱" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, "請輸入密碼" %>
        <% if @minimum_password_length %>        
        <% end %>  
        <div>
        <em>密碼長度不能低於<%= @minimum_password_length %>位數 </em>
        </div>       
        <%= f.password_field :password, autocomplete: "new-password" , class: 'form-control' %>        
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "請再輸入一次密碼" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'  %>
      </div>

      <div class="form-group">
        <div>
          <%= f.submit "使用者註冊" , class: 'btn btn-light' %>
        </div>      
      </div>
        <% end %>

      <%= render "devise/shared/links" %>

    </div>

    <div class="col">
    </div>

  </div>
</div>  
