<nav class="navbar navbar-expand-sm navbar-light bg-light py-0 py-md-0">

  <h2 class="mt-2"><%= @board.title %></h2>
<!-- Board archived  -->
  <div class="nav-item active starred-board" data-controller="star" data-star-id="<%= @board.id %>">
    <a href="" class="btn btn-lg btn-bh" data-action="star#toggle">
      <% if @board.starred_by?(current_user) %>
        <i class="fas fa-star" data-target="star.icon"></i>
      <% else %>
        <i class="far fa-star" data-target="star.icon"></i>
      <% end %>
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!-- Board Visibility  -->
      <li class="nav-item dropdown btn btn-bh ml-2 btn-light">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @board.visibility %>
        </a>
        <%# <div class="dropdown-menu" 
        aria-labelledby="navbarDropdown">
          <div class="dropdown-item">
            <div>狀態</div>
          <div class="dropdown-divider"></div>
            <div>stsr:收藏於我的最愛</div>
            <div>私人:</div>
            <div>團隊:</div>
          </div> %>
      </li>
<!-- Board member list  -->
      <li class="nav-item dropdown btn btn-bh ml-2 btn-light">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Member
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
          <% @board.users.each do |member| %>
            <li class="dropdown-item">
              <span>
                <% if member.avatar.attached? %>
                  <%= image_tag member.avatar.variant(resize_to_limit: [48, 48]),height:48, width:48, class: 'rounded-circle mr-2' %>
                <% else %>
                  <%= image_tag "https://fakeimg.pl/48x48/?text=?", class: 'rounded-circle clickhand mr-2' %>
                 <% end %>
                <%= member.username %>
              </span>
            </li>
          <% end %>
        </ul>
      </li>
<!-- Form for Invitation to other users -->
      <li class="nav-item dropdown btn btn-bh ml-2 btn-light">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Invite
        </a>
        <div class="dropdown-menu dropdown_menu_add dropdown_menu_size" 
        aria-labelledby="navbarDropdown">
          <div class="p-2">
            <div class="text-info">
              <i class="far fa-paper-plane m-2 text-info d-inline-flex"></i>
              <p class=" d-inline-flex">寄送邀請訊息</p>
                <%=  form_with scope: :search, url: searchuser_board_path do |f| %>
              <div class="form-group">
                <%= f.text_field :email, class:"form-control", placeholder:"請輸入Email" %>
              </div>
              <div class="form-group">
                <%= f.text_area :message, class:"form-control", placeholder:"邀請內容..." %>
              </div>
              <%= f.submit "送出邀請", class:"btn btn-sm btn-info" %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>