<nav class="d-inline-flex mb-3">
    <div class="mx-2 mt-3">
      <h2><%= @board.title %></h2>
    </div>

<!-- Board archived  -->
    <div class="starred-board" data-controller="star">
      <a href="" class="btn btn-lg mt-1 btn-bh" data-action="star#toggle" data-target="star.icon">
        <i class="far fa-star"></i>
      </a>
    </div>

<!-- Board Visibility  -->
    <div>
      <button type="button" class="btn btn-lg btn-light ml-2 mt-2 btn-bh">
        <%= @board.visibility %>
      </button>
    </div>

<!-- Board member list  -->
    <div class="dropdown">
      <button type="button" class="btn btn-lg btn-light ml-2 mt-2 btn-bh dropdown-toggle" id="dropdownMenuOffset"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
            Member
       </button>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
         <% @board.users.each do |member| %>
         <li class="dropdown-item"><%= member.username %></li>
         <% end %>
       </ul>
    </div>

<!-- Form for Invitation to other users -->
    <div class="dropdown">
      <button class="btn btn-lg btn-bh ml-2 mt-2 btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Invite 
      </button>
      <div class="dropdown-menu p-2">
        <p class="m-2 text-info d-inline-flex"><i class="far fa-paper-plane"></i></p>
        <p class="text-info d-inline-flex">寄送邀請訊息</p>
        <%=  form_with scope: :search, url: searchuser_board_path do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class:"form-control", placeholder:"請輸入Email" %>
        </div>
        <div class="form-group">
          <%= f.text_area :message, class:"form-control", placeholder:"邀請內容..." %>
        </div>
          <%= f.submit "送出邀請", class:"btn btn-sm btn-info" %>
          <% end %>
        </div>
    </div>
</nav>