<nav class="navbar navbar-light bg-white py-0 d-flex justify-content-start">

    <h3 class="text-info"><%= @board.title %></h3>

<!-- Board archived  -->
    <%= link_to boards_path, class:"btn btn-sm btn-light text-primary mx-1" do %>
      <i class="far fa-star"></i>
    <% end %>

    <span>|</span>

<!-- Board Visibility  -->
    <button type="button" class="btn btn-sm btn-light text-primary mx-1 px-3">
      <%= @board.visibility %>
    </button>

    <span>|</span>

<!-- Board member list  -->
    <div class="dropdown mr-1">
      <button type="button" class="btn btn-sm btn-light text-primary mx-1 dropdown-toggle" id="dropdownMenuOffset"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
            Member
       </button>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
         <% @board.users.each do |member| %>
         <li class="dropdown-item"><%= member.email %></li>
         <% end %>
       </ul>
    </div>

<!-- Form for Invitation to other users -->
    <div class="dropdown">
      <button class="btn btn-sm btn-light text-primary mx-1 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Invite 
      </button>
      <div class="dropdown-menu p-2">
        <%=  form_with scope: :search, url: searchuser_board_path do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class:"form-control", placeholder:"Email address" %>
        </div>
        <div class="form-group">
          <%= f.text_area :message, class:"form-control", placeholder:"Send some message..." %>
        </div>
          <%= f.submit "Send invitation", class:"btn btn-sm btn-primary" %>
          <% end %>
        </div>
    </div>
</nav>