<%= render "starboard", board: @board %>
<nav class="navbar board-nav py-0 d-flex col-5 mb-3">


    <h3><%= @board.title %></h3>

<!-- Board archived  -->
    <p class="starred-board">
      <a href="" class="btn btn-lg mt-2" data-toggle="modal" data-target="#starBoard">
        <i class="far fa-star"></i>
      </a>
    </p>

<!-- Board Visibility  -->
    <button type="button" class="btn btn-lg">
      <%= @board.visibility %>
    </button>


<!-- Board member list  -->
    <div class="dropdown">
      <button type="button" class="btn btn-lg mx-1 dropdown-toggle" id="dropdownMenuOffset"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
            Member
       </button>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
         <% @board.users.each do |member| %>
         <li class="dropdown-item"><%= member.email %></li>
         <% end %>
       </ul>
    </div>

<!-- Form for Invitation to other users -->
    <div class="dropdown">
      <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Invite 
      </button>
      <div class="dropdown-menu p-2">
        <%=  form_with scope: :search, url: searchuser_board_path do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class:"form-control", placeholder:"Email address" %>
        </div>
        <div class="form-group">
          <%= f.text_area :message, class:"form-control", placeholder:"Send some message..." %>
        </div>
          <%= f.submit "Send invitation", class:"btn btn-sm btn-primary" %>
          <% end %>
        </div>
    </div>
</nav>