<nav class="navbar navbar-light bg-light">
    <div>

    </div>

    <div>
        <%= link_to boards_path do %>
            <i class="far fa-star"></i>
        <% end %>
    </div>

    <div class="btn-group" role="group">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            邀請
          </button>
            <div class="dropdown-menu" >
                <%=  form_with scope: :search, url: searchuser_board_path  do |form| %>
                    <%= form.text_field :email %>
                    <%= form.text_area :message %>
                    <%= form.submit "傳送"%>
                <% end %>
            </div>
        </div>
      </div>

</nav>



