<nav class="navbar navbar-expand-lg my_navbarset py-0 justify-content-end" id="navbar" >
  <div id="main_navbar">

    <%= link_to root_path, class:"navbar_btn_bgc navbar_logo_place mx-auto" do %>
      <%= image_tag "smashmello-logo-white(default)(navbar).png", alt: "Smashmello", height:38, width:128 %>
    <% end %>

    <div class="dropdown mr-auto">
      <% if user_signed_in? %>
        <span id="navbar_user_Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar.variant(resize_to_limit: [48, 48]),height:38, width:48, class: 'rounded-circle btn-sm navbar_btn_bgc clickhand' %>
          <% else %>
            <%= image_tag "user avatar default.png", height:38, width:38, class: 'rounded-circle clickhand' %>
          <% end %>
        </span>
        <div class="dropdown-menu user_dropdown_menu_size dropdown-menu-right" aria-labelledby="navbar_user_Dropdown">
          <div class="username"></div>
            <i class="fas fa-user ml-2 mt-1"></i>
          <div class="mx-2 text_wrap">
            <%= current_user.username %>
          </div>
          <div class="dropdown-divider"></div>
          <div class="useremail d-inline-flex">
            <i class="fas fa-envelope ml-2 mt-1"></i>
            <div class="mx-2 text_wrap">
              <%= current_user.email %>
            </div>
          </div> 
          
          <div class="dropdown-divider"></div>
          <%= link_to "使用者設定", edit_user_registration_path, class: 'dropdown-item btn-info' %>
          <div class="dropdown-divider"></div>
          <%= link_to destroy_user_session_path, method: "delete", data: {confirm: "要登出嘛"} , class: 'dropdown-item btn-info' do %>
            登出　<i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</nav>