<%= form_for board do |board| %>

  <div class="form-group">
    <%= board.label :title, "標題" %>
    <%= board.text_field :title , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= board.label :visibility, "狀態" %>
    <%= board.text_field :visibility , class: 'form-control' %> 
  </div>
  <div class="form-group d-flex justify-content-end">
    <%= board.submit %>
  </div>
  
<% end %>
