if(<%= @reply %>){
  let inviteBoardCreate = `<ul class="team-boards">
                            <li>
                              <a class="card-body-public" href="/boards/<%= @board.id %>">
                                <span class="card-title">
                                  <%= @board.title %>
                                </span>
                              </a>
                            </li>
                          </ul>`
  $("#team-boards-container").append(inviteBoardCreate)
  $("#invite_<%= @invitation.id %>").remove()
  console.log(inviteBoardCreate)

}else{
  $("#invite_<%= @invitation.id %>").remove()
}

