<%= render 'shared/navbar' %>
<h1>Board列表</h1>
<%= link_to "新增Board", new_board_path, class: 'btn btn-light' %>

<table>
  <thead>
    <tr>
      <td>Board標題</td>
      <td>狀態</td>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td>
        <%= link_to board.title, board_path(board.id) %>
        </td>
        <td>
          <%= board.visibility %>
        </td>
        <td>

          <%= link_to "編輯", edit_board_path(board), class: 'btn btn-light' %>

          <%= link_to "刪除", board_path(board), method: "delete", data: { confirm: "確認刪除" }, class: 'btn btn-light' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
