<%= render 'shared/navbar' %>
<h1 class="d-block" style="margin: 20px; color: #2779BF;">Boards<%= notice %></h1>


<% @boards.each do |board| %>
  <div class="card text-white m-3 float-left border-0" style="width: 15rem; height: 10rem">
    <div class="card-body" style="background-color: #2068A2; ;border-radius:5px">
      <h5 class="card-title">
        <%= link_to board.title, board_path(board.id),  class: 'text-white' %>
      </h5>
      <p class="card-state">
        <%= board.visibility %>
      </p>
      <div class="card-button d-flex justify-content-end">
        <%= link_to "編輯", edit_board_path(board), class: 'btn btn-light btn-sm m-1' %>
        <%= link_to "刪除", board_path(board), method: "delete", data: { confirm: "確認要刪除Board嗎？" }, class: 'btn btn-light btn-sm m-1' %>
      </div>          
    </div>
  </div> 
<% end %> 

<div class="card m-3 float-left border-0 rounded" style="width: 15rem; height: 10rem; background-color: #F0F2F4">
  <p class="text-center mt-5">   
    <%= link_to "新增Board +", new_board_path, class: 'text-dark' %>
  </p>
</div>

