<%= render 'shared/navbar' %>
<%= render 'shared/navbarboard' %>

<%= link_to "新增List", new_list_path %>

<div id="1" data-id= "<%= @board.id %>">
    <%= form_for @board_message, remote: true do |message| %>
        <%= message.text_field :message %>
        <%= message.submit "send_message" %>
        <%= message.text_field :board_id %>
    <% end %>
</div>

<div data-role = "message">
    <% @board_messages.each do |board_message| %>
    <div>
        <em><%= board_message.user.id %></em>
        <p><%= board_message.message %></p>
    </div>
    <% end %>
</div>

<div data-role = "message-template">
    <div>
        <em data-role = "message-em"></em>
        <p data-role = "message-p"></p>
    </div>
</div>