<%= render 'shared/navbar' %>
<%= render 'shared/navbarboard' %>
<%= link_to "新增List", new_board_list_path(@board) %>

<%= render "cartcreate" %>
    
<div class="lists d-flex"   data-role= "list-item">
    <% @lists.each do |list| %>
    <div data-role="cart-clone" class="card" style="width: 19rem;">
        <div class="card-body">
            <h5 data-role="cart-title" class="card-title"><%= list.title %></h5>
            <button class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#createCart">新增Cart ＋</button>
        </div>
    </div>
    <% end %>
    <div data-role="lists-create">
        <%= link_to "新增list", new_board_list_path(@board), class: "btn btn-primary" %>
    </div>
</div>


