<%= render 'shared/navbar' %>
<%= render 'shared/navbarboard' %>
<%= link_to "æ–°å¢List", new_board_list_path(@board) %>
    
<div class="lists d-flex"   data-role= "list-item">
    <% @lists.each do |list| %>
    <div class="card" style="width: 19rem;">
        <div class="card-body">
            <h5 class="card-title"><%= list.title %></h5>
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>
    <% end %>
    <div data-role="lists-create">
        <%= link_to "æ–°å¢list", new_board_list_path(@board), class: "btn btn-primary" %>
    </div>
</div>

<div data-role="">
    <div data-role="cart-clone" class="card" style="width: 19rem;">
        <div class="card-body">
            <h5 data-role="cart-title" class="card-title"></h5>
            <a data-role="cart-link" href="#" class="card-link">Card link</a>
        </div>
    </div>
</div>

