  <%= render "carditem" %>
  <% content_for :navbar do %>
    <%= render 'shared/navbar' %>
  <% end %>
  
  <% content_for :boardheader do %>
    <%= render 'shared/boardheader' %>
  <% end %>

<div data-role="js-list" class="list-container">
  
  <% @lists.each do |list| %>
  <div class="list-group item">
      <div class="list-wrapper">
        <div class='list-content box'>
          <div data-role= "list-item" class="list-item" >
            <input data-role="list-id" type="hidden" val= "<%= list.id %>">
            <span data-role="list-title" class="list-view"><%= list.title %></span>
            <span class="list-men"><i class="fas fa-align-justify"></i></span>
          </div>
          
          <div data-role="card-wrapper" class="card-wrapper">

            <div data-role="card-group" class="card-group">
              <% list.cards.each do |card| %>
              <div data-role="sortcard" class="cart-item" >
                  <input data-role="card-id" type="hidden" val= "<%= card.id %>">
                  <span data-role="card-title" href="" ><%= card.title %></span>
              </div>
              <% end %>
            </div>

  
            <div data-role="card-input" class="card-create input d-none">
              <textarea name="card-text"></textarea>
            </div>
  
            <div data-role="card-btn" class="card-create btn">
                <span data-role="card-create-btn" class="card-add" href=""><span><i class="fas fa-plus"></i>新增卡片</span></span>
            </div>
          </div>
        </div>
      </div>
  </div>
  <% end %>

  <div data-role="input-local" class="list-group item">
    <div class="list-wrapper">
      <div class="list-content btn">
        <span class="list-add" href=""><span><i class="fas fa-plus"></i>新增列表</span><a>
      <form data-role="list-create">
        <input data-role="api-list-title" class="api-inp" type="text" placeholder= "請輸入標題" maxlength= "100">
        <input data-role="btn list-create" class="api-btn" type="submit" value="送出">
        <span class="list-add" href=""><span><i class="fas fa-times"></i></span></span>
      </form>
    </div>
    </div>
  </div>

</div>