<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrin-to-fit=on">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>會員頁面</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/smashmello-logo-white(default).svg" />
  </head>

  <body>    
    <%= yield %>
  </body>
</html>
